.row
  .col-md-9
    h1 Page not found
    p.h4 &nbsp;
    p.h4
      | Try to search for something, or go to&nbsp;
      a(href="/") start page
  .col-md-3
    ng-include(src='"/templates/main/_sidebar.html"')
