.row
  .col-md-9
    h1 Something bad happened
    h2 We are so sorry
    p.h4 &nbsp;
    p.h4
      | We informed about this problem. You can try again from&nbsp;
      a(href="/") start page
  .col-md-3
    ng-include(src='"/templates/main/_sidebar.html"')
