nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/" target="_self")
        .logo
      #search-form(ng-controller="SearchFormCtrl")
        form(action="/search" method="GET")
          .form-group-lg
            .input-group
              input(type="text" class="form-control" name="q" ng-model="query" autocomplete="off")
              //ng-blur="cancel()")
              span.input-group-btn
                button.btn.btn-primary.btn-lg(type="submit")
                  | search
        #search-suggest(ng-show="suggest.length > 0")
          ul
            li(
              ng-repeat="item in suggest"
              ng-click='$location.path("/"+item.type+"s/"+( item.resource.id || item.resource.slug )); cancel()')
              .media
                .media-left.media-top(ng-if="item.resource.thumbnail")
                  a(ng-href="/{{ item.type }}s/{{ item.resource.id || item.resource.slug }}")
                    img.thumbnail(ng-show="item.resource.thumbnail" ng-src="{{ item.resource.thumbnail }}")
                .media-body
                  h4.media-heading {{ item.resource.title || item.resource.slug }}
                  | {{ item.resource.conferences.title }}
        //-ng-include(src='"/templates/search/_suggest.html"')
    //-#navbar.collapse.navbar-collapse
      //-ul.nav.navbar-nav
        //-li.active
          //-a(href="#") Home
        //-li
          //-a(href="#") Home
        //-li.dropdown
          //-a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
            //-| Dropdown
            //-span.caret
          //-ul.dropdown-menu
            //-li a href="#">Action/a>/li>
            //-li>a href="#">Another action/a>/li>
            //-li>a href="#">Something else here/a>/li>
            //-li role="separator".divider">/li>
            //-li.dropdown-header">Nav header/li>
            //-li>a href="#">Separated link/a>/li>
            //-li>a href="#">One more separated link/a>/li>
//-nav.navbar.navbar-inverted.navbar-form.affix(data-spy="affix" data-offset-top="60" data-offset-bottom="200")
