nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/" target="_self")
        .logo
      #search-form(ng-controller="SuggestCtrl")
        form(action="/search" method="GET")
          .form-group-lg
            .input-group
              input(type="text" class="form-control" name="q" ng-model="query" autocomplete="off" placeholder="put your search phrase here" focus="true" ng-model-options='{ updateOn: "default", debounce: {"default": 300} }' ng-keyup='$event.keyCode == 27 && cancel()')
              span.input-group-btn
                button.btn.btn-primary.btn-lg(type="submit")
                  | search
        #search-suggest(ng-show="suggest.length > 0" ng-init='initSearch()' ng-click='cancel()')
          ul.list
            li.item.suggest-item(ng-repeat="item in suggest" bindonce="item" class='{{ item.type }}s-list')
              .media
                .media-left.media-top
                  a(bo-href="item.showPath()" ng-click="cancel()")
                    .thumbnail(bo-html="item.resource.thumbnailTag()")
                .media-body
                  .media-heading
                    a(bo-href="item.showPath()" ng-click="cancel()")
                      h4.media-heading(bo-html="(item.resource.title || item.resource.slug) | highlight:query")
                  div(ng-if='item.type == "video"')
                    confcrumbs(conference='item.resource.conference' event='item.resource.event')
                    confur-tags(tags='item.resource.tags' limit=5)
                  //-p(bo-text="item.resource.conference.title")
        //-ng-include(src='"/templates/search/_suggest.html"')
    //-#navbar.collapse.navbar-collapse
      //-ul.nav.navbar-nav
        //-li.active
          //-a(href="#") Home
        //-li
          //-a(href="#") Home
        //-li.dropdown
          //-a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
            //-| Dropdown
            //-span.caret
          //-ul.dropdown-menu
            //-li a href="#">Action/a>/li>
            //-li>a href="#">Another action/a>/li>
            //-li>a href="#">Something else here/a>/li>
            //-li role="separator".divider">/li>
            //-li.dropdown-header">Nav header/li>
            //-li>a href="#">Separated link/a>/li>
            //-li>a href="#">One more separated link/a>/li>
//-nav.navbar.navbar-inverted.navbar-form.affix(data-spy="affix" data-offset-top="60" data-offset-bottom="200")
