.btn-transparent
  background-color: transparent
  &:hover
    background-color: rgba(255,255,255,0.1) !important
  &:focus
    background-color: rgba(255,255,255,0.1) !important
    outline: 0 !important
  &:active, &.active
    background-color: rgba(255, 255, 255, 0.2) !important

.btn-borderless
  border: 0px !important
