@require './bs/variables'

.conference-show
  .conference-thumbnail > img
    width: 100%
    max-width: 200px
    margin-left: 0
    margin-right: 0
  a.conference-url
    color: darken($brand-primary, 20%)
    font-size: 16px
    text-decoration: underline
