@require './bs/variables'

.events-list
  $thumbnail-width = 50px
  .thumbnail, .thumbnail-cover
    min-width: $thumbnail-width
    min-height: $thumbnail-width
    width: $thumbnail-width
    height: $thumbnail-width
    margin-bottom: 0
  .item
    height: inherit
