@require './bs/variables'

$selection-color = lighten($link-color, 90%)
$playlist-play-button-width = 48px
$list-play-button-width = 96px

.video-js
  width: 100% !important
  min-height: 500px !important
  .vfs-tech
    height: auto !important
    position: relative !important

.grid.videos-list
  .video-item
    min-height: 230px
    margin-bottom: 40px
    .thumbnail
      &, & > img
        $min-width = 212px
        width = $min-width
        height: (($min-width * 9) / 16)
      .material-icon
        font-size: $list-play-button-width
        margin-top: -($list-play-button-width / 2)
        margin-left: -($list-play-button-width / 2)
      .play
        cursor: pointer
        opacity: .5
        &:hover
          opacity: .9
      .playing
        display: none

#playlist
  .video-item
    .thumbnail
      .playing
        display: none
      .thumbnail-cover
        background-position: 50%
      &, & > img
        width: 100px
      .material-icon
        font-size: $playlist-play-button-width
        margin-top: -($playlist-play-button-width / 2)
        margin-left: -($playlist-play-button-width / 2)
      .play
        cursor: pointer
        opacity: 0
        &:hover
          opacity: .9
    &.active
      .thumbnail
        .playing
          display: block

.video-item
  .thumbnail
    border: none
    padding: 0
    border-radius: none
    transition: none
    margin: 0
    position: relative
    background-color: black
    .material-icon
      position: absolute
      z-index: 10
      top: 50%
      left: 50%
      transition: opacity .3s
      text-shadow: none
  .details
    padding-top: 6px

.vjs-big-play-button
  display: none !important

#playlist
  position: relative
  height: 500px
  & > ul
    padding: 0
    margin: 0
    & > li
      cursor: pointer
      padding: 8px
      list-style-type: none
      &.active
        background-color: $selection-color
      //&:hover
        //background-color: lighten($selection-color, 50%)
      .thumbnail
        padding: 0 !important
        margin: 0 !important
        max-width: 100px

.confcrumbs
  padding: 0
  list-style: none
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  & > li
    display: inline-block
    & + li:before
      content: '/\00a0'
