.page-header
  margin: 0
  border: none

.thumbnail
  border: none !important
  border-radius: 0 !important
  transition: none !important
  background-color: transparent
  min-width: 100px
  min-height: 100px
