.page-header
  margin: 0
  border: none

.thumbnail
  border: none !important
  border-radius: 0 !important
  transition: none !important
  padding: 0 !important
  background-color: transparent
  min-width: 100px
  min-height: 100px

.pagination
  & > li
    &.next-page, &.prev-page
      .material-icon
        font-size: 20px
      & > a
        padding: 6px 12px 1px
    & > a, & > span
      border: 0px !important
