$brand-primary = #DCEA06
$link-color = $gray-light
$btn-primary-border = $brand-primary
$font-family-sans-serif = "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-size-large = 24px
$padding-large-vertical = 4px
$padding-large-horizontal = 12px
//$input-bg = $gray-lighter
//$input-border = $input-bg
$input-border-focus = $input-border
$navbar-height = 66px
$navbar-default-bg = white

@require "bootstrap/variables"
