#search-suggest(ng-show="suggest.length > 0")
  ul
    li(ng-repeat="item in suggest")
      .media(bindonce='item')
        .media-left.media-top(bo-if="item.resource.thumbnail")
          a(bo-href="'/' + item.type + 's/' + (item.resource.id || item.resource.slug)" ng-click="cancel()")
            img.thumbnail(bo-src="item.resource.thumbnail")
        .media-body
          h4.media-heading(bo-text='item.resource.title || item.resource.slug')
          p(bo-text='item.resource.conferences.title')
