.events(ng-if='events.length > 0' ng-controller='ListEventsCtrl')
  .page-header
    h1 Events
  ng-include(src='"/templates/events/_grid.html"')
.conferences(ng-if='conferences.length > 0')
  div(ng-controller='ListConferencesCtrl')
    .page-header
      h1 Conferences
  ng-include(src='"/templates/conferences/_grid.html"')
div(ng-if='videos.length > 0')
  videos-grid(videos='videos' pagination='false' heading='true')
