ul.list.conferences-list
  li.item.conference-item(ng-repeat="conference in conferences track by conference.slug" bindonce="conference")
    .media
      .media-left.media-top
        .thumbnail
          a(bo-href="'/conferences/' + conference.slug" bo-html="conference.thumbnailTag()")
      .media-body
        .media-heading
          h4
            a(bo-href="'/conferences/' + conference.slug" bo-text="conference.title")
        .badges-bar
          span.videos-count
            i.material-icon local_movies
            span(bo-text='conference.videos_count')
          span.scope-badge
            i.material-icon bookmark
            span(bo-text='conference.scope')
