.conference-show
  .page-header
    h1
      i.material-icon.md-dark school
      span(ng-bind='conference.title')
  .details(ng-bind="conference.description")
  .events(ng-if='events.length > 0')
    div(ng-controller='ListEventsCtrl')
      h2 Events
      ng-include(src='"/templates/events/_grid.html"')
  videos-grid(pagination='true' heading='true')
