div(ng-if='conference.slug')
  div(ng-if='conference.thumbnail')
    replace-meta-tag(meta-tag-name='og:image' content='{{ conference.thumbnail }}' property='og:image')
  replace-meta-tag(meta-tag-name='og:title' content='{{ conference.title }}' property='og:title')
  replace-meta-tag(meta-tag-name='og:type' content='article' property='og:type')
  replace-meta-tag(meta-tag-name='og:url' content='{{ conference.linkToShow() }}' property='og:url')
  replace-meta-tag(meta-tag-name='og:description' content='{{ conference.description }}' property='og:description')
.row
  .col-xs-3.conference-show
    .thumbnail.conference-thumbnail(ng-show='conference.thumbnail')
      img(ng-src="{{ conference.thumbnail }}")
    h1.no-vertical-margin(ng-bind='conference.title')
    .badges-bar
      span.videos-count
        i.material-icon local_movies
        span(ng-bind='conference.videos_count')
      span.scope-badge
        i.material-icon bookmark
        span(ng-bind='conference.scope')
    a.conference-url(target="_blank" ng-href='{{ conference.url }}' ng-bind='conference.url | trimHttp' ng-if='conference.url')
    .details(ng-bind="conference.description")
    .events(ng-if='events.length > 0')
      div(ng-controller='ListEventsCtrl')
        h2 Events
        ng-include(src='"/templates/events/_list.html"')
  .col-xs-9
    videos-grid(pagination='true' heading='true')
