{{ conference }}
.conference-show
  .conference-item
    .details
      h4 {{ conference.title }}

.events(ng-if='events.length > 0' ng-controller='ListEventsCtrl')
  .page-header
    h1 Events
  ng-include(src='"/templates/events/list.html"')
.videos(ng-if='videos.length > 0' ng-controller='ListVideosCtrl')
  .page-header
    h1 Videos
  ng-include(src='"/templates/videos/_list.html"')
