.list.videos-list(ng-if='!nowPlaying')
  .item.video-item(ng-repeat='video in videos track by video.id' bindonce='video')
    .thumbnail
      a(ng-click="play(video.id)")
        div(bo-html='video.thumbnailTag()')
        i.play.material-icon.md-light play_circle_filled
    .details
      h4(bo-text='video.title')
      confcrumbs(conference='video.conference' event='video.event')
      confur-tags(tags="video.tags" limit=5)

ng-include(src="'/templates/videos/_playlist.html'" ng-if='nowPlaying')
