.row
  div(ng-class='{ "col-md-9": !nowPlaying, "col-md-12": nowPlaying }')
    videos-grid(videos='videos' pagination='true' heading='false')
  .col-md-3(ng-if='!nowPlaying')
    ng-include(src='"/templates/main/_sidebar.html"')
