.row
  div(ng-class='{ "col-md-9": !nowPlaying, "col-md-12": nowPlaying }')
    pre {{ videos }}
    videos-grid(videos='videos' pagination='true' limit=20 heading='false')
  .col-md-3(ng-if='!nowPlaying')
    ng-include(src='"/templates/main/_sidebar.html"')
