div(ng-if='video.id')
  replace-meta-tag(meta-tag-name='og:image' content='{{ video.thumbnail }}' property='og:image')
  replace-meta-tag(meta-tag-name='og:title' content='{{ video.title }}' property='og:title')
  replace-meta-tag(meta-tag-name='og:type' content='article' property='og:type')
  replace-meta-tag(meta-tag-name='og:url' content='{{ video.linkToShow() }}' property='og:url')

.row
  .col-md-9
    .video-show
      .video-item
        ng-videojs(video="video")
        //-video.video-js.vjs-default-skin.vjs-big-play-centered(controls=true preload="false" ng-videojs="video")
        //-.embed-responsive.embed-responsive-16by9
          //-iframe.embed-responsive-item(ng-src="{{ trustSrc(video.embedSrc()) }}")
        .details
          h3(ng-bind="video.title")
          confcrumbs(conference='video.conference' event='video.event')
          confur-tags(tags="video.tags")
  .col-md-3
    ng-include(src='"/templates/main/_sidebar.html"')
