.grid.events-list.row
  .col-xs-6.col-sm-3.col-md-3.col-lg-2(ng-repeat="event in events track by event.id")
    .item.event-item(bindonce="event")
      a(bo-href="'/events/' + event.id")
        .thumbnail(bo-html="event.thumbnailTag()")
      .details
        h4(bo-text="event.title")
        p(bo-if="!conference")
          a(bo-href="'/conferences/' + event.conference_slug" bo-text="event.conference.title")
