div(ng-repeat='event in events track by event.id')
  .event-item
    .thumbnail
      a(ng-href="/events/{{ event.id }}")
        img(ng-src='{{ event.thumbnail }}')
        i.play.material-icon.md-light play_circle_filled
      .details
        h4 {{ event.title }}
        p
          a(ng-href="/conferences/{{ event.conference_slug }}") {{ event.conference.title }}
        p(confur-event-tags="event.id")
