doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='mobile-web-app-capable' content='yes')
    link(rel='stylesheet' href='/assets/vendor.css')
    link(rel='stylesheet' href='/assets/application.css')
    title Confur me
    base(href='/')
  body(ng-app='confur' ng-controller='MainCtrl' ng-cloak=true ng-jq='jQuery')
    ng-include(src='"/templates/main/_header.html"')
    .container(ng-view ng-cloak=true)
      //-.row
        //-.col-md-9
        //-.col-md-3(ng-cloak=true)
          //-ng-include(src='"/templates/main/_sidebar.html"')
    //-ng-include(src='"/templates/main/_footer.html"')
    script(src='/assets/vendor.js')
    script(src='/assets/application.js')
