doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='mobile-web-app-capable' content='yes')
    link(rel='stylesheet' href='/assets/vendor.css')
    link(rel='stylesheet' href='/assets/application.css')
    title Welcome to Confur.me
    link(rel="icon" type="image/png" href="/assets/favicon_16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="/assets/favicon_32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/assets/favicon_64.png" sizes="64x64")
    link(rel="icon" type="image/png" href="/assets/favicon_128.png" sizes="128x128")
    base(href='/')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66745105-1', 'auto');
      ga('send', 'pageview');
  body.welcome-page(ng-app='confur' ng-controller='MainCtrl' ng-cloak=true ng-jq='jQuery')
    .wrapper
      .logo(bs-affix=true affix-timeout=1000)
      .wrapper-inner
        .cover-container
          .inner.cover.text-left(ng-controller='WelcomeCtrl')
            p.h4 Yep, someone has finally done it.
            p.h1
              | Here are videos from the conferences all over the world.
              | Aggregated in one spot, for your pleasure.
            p.lead.font.advent.text-center
              a(href="#" ng-click="welcome()" class="btn btn-lg btn-primary btn-transparent") Proceed
            //-p.lead.font.advent.text-center
              //-a(href="/videos" target="_self" class="btn btn-lg btn-transparent") log in
              //-| or&nbsp;
              //-a(href="/videos" target="_self" class="btn btn-lg btn-primary btn-transparent") Sign up for 30 day trial

          //-.welcome-footer.text-center
            //-.inner
              //-p.h4.font.advent
                //-a(href='/videos' target='_self') Skip!!!111
    script(src='/assets/vendor.js')
    script(src='/assets/application.js')
